<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="../stylesheets/style.css" />
  </head>

  <body>
    <nav class="navbar">
      <a href="/">
        <img
          src="../images/home.png"
          alt="Home Icon"
          style="width:50px;height:50px;"
        />
      </a>
      <br>
      <form action="/logout" method="POST">
        <button type="submit">Logout</button>
      </form>
    </nav>
    <br />
    <br />

    {{{body}}}

    <script src="../js/script.js"></script>
  </body>

</html>