<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav class="navbar">
      <div id="div-links">
        <ul>
          <li><a href="/"><img src="/images/home.png" alt="Home Icon" id="home-img" /></a></li>
          <li><a href="/search">Search</a></li>
          <li><a href="/pet-list">Pet List</a></li>
          <li><a href="/shelter-pets">Pets</a></li>
        </ul>
      </div>
      <div id="div-logout">
        <form action="/logout" method="POST">
          <button type="submit" id="logout-button">Logout</button>
        </form>
      </div>
    </nav>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>