<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav class="navbar">
      <div id="div-links">
        <ul>
          {{#if logout}}
            <li><a href="/"><img src="/images/home.png" alt="Home Icon" id="home-img" /></a></li>
          {{/if}}
          {{#if person}}
            <li><a href="/search"><img src="/images/home.png" alt="Home Icon" id="home-img" /></a></li>
            <li><a href="/pet-list"><button>Pet List</button></a></li>
          {{/if}}
          {{#if shelter}}
            <li><a href="/shelter-pets"><img src="/images/home.png" alt="Home Icon" id="home-img" /></a></li>
          {{/if}}
        </ul>
      </div>
      <div id="div-logout">
        {{#unless logout}}
          <form action="/logout" method="POST">
            <button type="submit" id="logout-button">Logout</button>
          </form>
        {{/unless}}
      </div>
    </nav>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>