<a href="/shelter-pets">Pets</a>
<br>
<div>
  <h1>Add A Pet</h1>
  <form action="/pet/add" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" value="" placeholder="Enter Pet Name" />
    <br>
    <label for="specie">Specie:</label>
    <input type="checkbox" name="specieDog" />
    <label for="specieDog">Dog</label>
    <input type="checkbox" name="specieCat" />
    <label for="specieCat">Cat</label>
    <br>
    <label for="breed">Breed:</label>
    <input type="text" name="breed" value="" placeholder="Enter Pet Breed" />
    <br />
    <label for="age">Age:</label>
    <input type="number" name="age" value="" />
    <br>
    <label for="size">Size:</label>
    <input type="number" name="size" value="" />
    <br>
    <label for="weight">Weight:</label>
    <input type="number" name="weight" value="" />
    <br>
    <label for="sex">Sex:</label>
    <input type="checkbox" name="male" />
    <label for="male">Male</label>
    <input type="checkbox" name="female" />
    <label for="female">Female</label>
    <br>
    <label for="vaccinated">Vaccinated:</label>
    <input type="checkbox" name="vaccinated" />
    <br>
    <label for="neutered">Neutered:</label>
    <input type="checkbox" name="neutered" />
    <br>
    <button type="submit">Add Pet</button>
  </form>
</div>