<div class="flex">
    <h2>My Pets</h2>
</div>
<div class="flex-row">
    {{#each pets}}
        <div class="flex">
            {{> divPet this}}
            <div class="div-pet-button">
                <a href="/pet/edit/{{this._id}}"><button class="small-blue-button">Details</button></a>
                <a href="/pet/delete/{{this._id}}"><button class="small-red-button">Delete</button></a>
            </div>
        </div>
    {{/each}}
    <a href="/pet/add"><button class="add-bttn">+</button></a>
</div>