<div class="flex">
  <br>
  <br>
  <form action="/message-send/{{pet._id}}/{{pet.messages.0.from._id}}" method="POST">
    {{#each messages}}
      {{> divMessage this}}
      <br>
    {{/each}}
    <textarea name="messageText" cols="50" rows="5"></textarea>
    <br>
    <br>
    <button type="submit" class="blue-button">Send Message</button>
  </form>
</div>