/* html { 
  background: url('/images/background2.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

body {
  margin: 0px;
  padding: 0px;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightgreen;
}

.error {
  color: red;
  justify-content: center;
}

.login-signup {
  font-size: 20px;
}

.login-signup input {
  height: 30px;
  font-size: 20px;
}

.login-signup button {
  text-decoration: none;
  width: 350px;
  height: 40px;
  margin: 5px;
  color: white;
}

.blue-button {
  background-color:  rgb(28, 74, 128);
  border-radius: 50px 50px 50px 50px;
  width: 390px;
  height: 30px;
  color: white;
}

.small-blue-button {
  background-color:  rgb(28, 74, 128);
  border-radius: 50px 50px 50px 50px;
  width: 150px;
  height: 30px;
  color: white;
}

#signup-button {
  background-color: red;
  border-radius: 50px 50px 50px 50px;
}

.pet-image {
  width: 200px;
  height: 200px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.edit-bttn, .delete-bttn, .add-bttn {
  display: inline-block;
  padding: 15px 25px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.add-bttn {
  font-size: 25px;
}

.edit-bttn, .delete-bttn, .add-bttn:hover {
  background-color: #3e8e41
}

.edit-bttn, .delete-bttn, .add-bttn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#home-img {
  width: 40px;
  height: 40px;
}

#logout-button {
  height: 42px;
  background-color: rgb(180, 26, 0);
  color: white;
}

.navbar {
  height: 42px;
  width: 100%;
  background: rgb(28, 74, 128);
  display: flex;
  justify-content: space-between;
}

#div-links button{
  color: white;
  background-color: rgb(28, 74, 128);
  display: block;
  height: 40px;
  width: 60px;
  margin-left: 5px;
  text-decoration: none;
}

#div-links ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#div-links li{
  float: left;
}

#catdog-img {
  width: 600px; 
  height: 350px;
}

p {
  margin: 2px;
}

.div-pet {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 30px;
}

.div-pet-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
}

.flex-left {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column; 
}

.flex-message {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  margin-left: 50px;
}

.div-message {
  border: solid 1px black;
  padding: 10px;
}

#breed-img {
  width: 600px; 
  height: 350px;
}

#oplogo-img {
  width: 400px; 
  height: 300px;
}

.green-button {
  background-color:  #3e8e41;
  border-radius: 50px 50px 50px 50px;
  text-decoration: none;
  width: 350px;
  height: 40px;
  margin: 5px;
  color: white;
}

.small-red-button {
  background-color:  rgb(180, 26, 0);
  border-radius: 50px 50px 50px 50px;
  width: 100px;
  height: 30px;
  color: white;
}

.small-orange-button {
  background-color:  rgb(150, 80, 0);
  border-radius: 50px 50px 50px 50px;
  width: 100px;
  height: 30px;
  color: white;
}

.boolean {
  height: 15px;
  width: 15px;
}

input {
  margin: 1px;
}

input[type="number"] {
  width:50px;
}