/* html { 
  background: url('/images/background2.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

body {
  margin: 0px;
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* color: white; */
}

.error {
  color: red;
  justify-content: center;
}

.login-signup {
  font-size: 20px;
}

.login-signup input {
  height: 30px;
  font-size: 20px;
}

.login-signup button {
  text-decoration: none;
  width: 350px;
  height: 40px;
  margin: 5px;
  color: white;
}

.blue-button {
  background-color: blue;
  border-radius: 50px 50px 50px 50px;
}

#signup-button {
  background-color: red;
  border-radius: 50px 50px 50px 50px;
}

.pet-image {
  width: 200px;
  height: 200px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.edit-bttn, .delete-bttn, .add-bttn {
  display: inline-block;
  padding: 15px 25px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.edit-bttn, .delete-bttn, .add-bttn:hover {
  background-color: #3e8e41
}

.edit-bttn, .delete-bttn, .add-bttn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#home-img {
  width: 40px;
  height: 40px;
}

#logout-button {
  height: 42px;
}

.navbar {
  height: 42px;
  width: 100%;
  background: rgb(28, 74, 128);
  display: flex;
  justify-content: space-between;
}

#div-links a{
  color: white;
  display: block;
  height: 40px;
  width: 50px;
  margin-left: 5px;
  text-decoration: none;
}

#div-links ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#div-links li{
  float: left;
}

#catdog-img {
  width: 600px; 
  height: 350px;
}