<div class="flex">
    <div class="div-gray-shadow-center">
        <h2>Pet List</h2>
    </div>
</div>
<div class="flex-row">
    {{#each pets}}
        <div class="flex-pet-card">
            {{> divPet this}}
            <div class="div-pet-button">
                <a href="/pet/details/{{this._id}}"><button class="small-blue-button">Details</button></a>
                <a href="/pet-list/remove/{{this._id}}"><button class="small-red-button">Remove</button></a>
            </div>
        </div>
    {{/each}}
</div>