<form action="/search" method="POST" class="flex">
    <h2>What are you looking for?</h2>
    <div>
        <input type="checkbox" name="dog" checked>
        <img class="specie" src="/images/dog.png" alt="Image of a dog">
        <input type="checkbox" name="cat" checked>
        <img class="specie" src="/images/cat.png" alt="Image of a cat">
    </div>
    <br>
    <div>
        <button type="submit" class="green-button">Search</button>
    </div>
</form>