{{> searchForm}}
<div class="flex-row">
    {{#each pets}}
        <div class="flex-pet-card">
            {{> divPet this}}
            <div class="div-pet-button">
                <a href="/pet/details/{{this._id}}"><button class="small-blue-button">Details</button></a>
                <a href="/pet-list/add/{{this._id}}"><button class="small-green-button">Save</button></a>
            </div>
        </div>
    {{/each}}
</div>