<a href="/search">Search</a>
<button><a href="/pet-list">Pet List</a></button>
<br>
<h2>What are you looking for?</h2>
<input type="checkbox" name="dog" checked>
<label for="dog">Dog</label>
<input type="checkbox" name="cat" checked>
<label for="cat">Cat</label>
<br>
<form action="/search" method="POST">
    <button type="submit">Search</button>
</form>